.btn{
  margin-top: 5%;
}
.image{
  height: 200px;
  width:200px;
  border:2px solid gray;
  border-radius:10px;
}
.container{
  height: 400px;
  width: 40%;
  border:2px solid gray;
  border-radius:10px;
  margin-left: 25%;
  text-align:center;
}
.container-all{
  margin-left: 45%;
}